data/
models/
.idea/
code-server/
__pycache__
*~
user_data/CachedExtensionVSIXs/*
user_data/User/*
!user_data/User/settings.json
user_data/extensions/*
!user_data/extensions/README.txt
user_data/logs/*
user_data/machineid
