autopep8
coverage
ipython
flake8
jupyter
jupyterlab
matplotlib
numpy
pandas
pep8
pylint
pytest
seaborn
scikit-learn
scipy
tqdm
opencv-python
wandb
pytorch-lightning

# dgx-1 compatible versions of pytorch 
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu92
torchvision==0.8.2+cu92

# nvidia dali
--extra-index-url https://developer.download.nvidia.com/compute/redist
nvidia-dali-cuda100

